AddressUpdaterLib/Web References/VersionCheckService/VersionCheckService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://hisoutenAddressService/" targetNamespace="http://hisoutenAddressService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getClientVersion" type="tns:getClientVersion" />
  <xs:element name="getClientVersionResponse" type="tns:getClientVersionResponse" />
  <xs:complexType name="getClientVersion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getClientVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>